body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Semi-Coder-Regular";
  src: local("Semi-Coder-Regular"), url("./fonts/Semi-Coder-Regular.otf");
}

.header {
  background-color: #101610;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  font-family: "Semi-Coder-Regular";
  font-size: 30px;
  color: white;
}

.header-menu {
  display: flex;
  gap: 30px;
}

.footer {
  height: 50px;
  background-color: #101610;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.git-icon {
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.link-item,
.link-button {
  text-decoration: none;
  color: white;
}

.link-item:hover,
.link-item-active {
  text-decoration: underline;
}

.image {
  height: 100%;
  /* display: block; */
  width: 100%;
  object-fit: cover;
  position: relative;
}

.image-bg {
  width: 100%;
  height: 88vh;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 0px;
  width: 40%;
  display: flex;
  align-items: center;
  height: 65%;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 30px;
}

.button-base {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 16px 32px;
  border: 2px solid black;
  cursor: pointer;
  color: white;
}

.button-base:hover {
  border: 2px solid rgba(255, 255, 255, 0.596);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  object-fit: fill;
  height: 220px;
  width: 100%;
  position: relative;
}

.image-container {
  height: 75%;
  position: relative;
}

.card-text-container {
  padding: 0px 10px;
  height: 25%;
}

.card-text {
  margin: 0;
}

.shop-container {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 50px 0px 70px 0px;
}

.category-container ul {
  margin: 0;
}
/* .category-container li:hover {
  color: red;
} */
.category-container li {
  position: relative;
  color: #0087ca;
  list-style: none;
  font-size: 24px;
  padding: 5px 0px;
  cursor: pointer;
  display: block;
  width: max-content;
}

.category-container li:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.category-container li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}

@media only screen and (max-width: 1366px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 80%;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-item-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
